@import 'shared';

.Button {
  display: inline-block;
  background: none;
  outline: none;
  padding: px(15) px(24);
  border-radius: $default-border-radius;
  border: 2px solid currentColor;
  transition: background-color $default-transition-short, border-color $default-transition-short,
    color $default-transition-short;

  &.default {
    @include font-style(data-s);
    background-color: $blue;
    color: $white;
    font-family: $roboto-font;
    border-color: $blue;

    &:hover {
      border-color: $blue;
      background-color: $white;
      color: $blue;
    }
  }

  &.default-border {
    @include font-style(data-s);
    font-family: $roboto-font;
    border-color: $blue;
    color: $blue;

    &:hover {
      border-color: $blue;
      background-color: $blue;
      color: $white;
    }
  }

  &.green {
    @include font-style(data-xs);
    background-color: tint($green, $tint-percent-1);
    border-color: tint($green, $tint-percent-1);

    &:hover {
      border-color: tint($green, $tint-percent-1);
      background-color: transparent;
    }
  }

  &.green-border {
    @include font-style(data-xs);
    background-color: transparent;
    border-color: tint($green, $tint-percent-1);
    color: $black;

    &:hover {
      background-color: tint($green, $tint-percent-1);
      border-color: tint($green, $tint-percent-1);
    }
  }

  &.orange {
    @include font-style(data-xs);
    background-color: tint($orange, $tint-percent-1);
    border-color: tint($orange, $tint-percent-1);

    &:hover {
      border-color: tint($orange, $tint-percent-1);
      background-color: transparent;
    }
  }

  &.red {
    @include font-style(data-xs);
    background-color: tint($red, $tint-percent-1);
    border-color: tint($red, $tint-percent-1);

    &:hover {
      border-color: tint($red, $tint-percent-1);
      background-color: transparent;
    }
  }

  &.dark-blue {
    @include font-style(data-xs);
    background-color: tint($blue, $tint-percent-1);
    border-color: tint($blue, $tint-percent-1);

    &:hover {
      border-color: tint($blue, $tint-percent-1);
      background-color: transparent;
    }
  }

  &.faded-blue {
    @include font-style(data-xs);
    border-color: tint($blue, $tint-percent-2);

    &:hover {
      background-color: tint($blue, $tint-percent-2);
    }
  }

  &.light-blue {
    @include font-style(data-xs);
    background-color: tint($light-blue, $tint-percent-1);
    border-color: tint($light-blue, $tint-percent-1);

    &:hover {
      border-color: tint($light-blue, $tint-percent-1);
      background-color: transparent;
    }
  }

  &.purple {
    @include font-style(data-xs);
    background-color: tint($purple, $tint-percent-1);
    border-color: tint($purple, $tint-percent-1);

    &:hover {
      border-color: tint($purple, $tint-percent-1);
      background-color: transparent;
    }
  }

  &.yellow {
    @include font-style(data-xs);
    background-color: transparent;
    border-color: tint($yellow, $tint-percent-2);

    &:hover {
      background-color: tint($yellow, $tint-percent-2);
      color: $black;
    }
  }

  &.white {
    @include font-style(data-s);
    background-color: $white;
    color: $blue;
    font-family: $roboto-font;
    border-color: $white;

    &:hover {
      border-color: $white;
      background-color: transparent;
      color: $white;
    }
  }

  &.link {
    @include font-style(paragraph-xxs);
    padding: 0;
    border-radius: 0;
    border: none;
  }

  &.light-grey {
    background-color: $light-grey-2;
    border-color: $light-grey-2;
  }

  &.none {
    padding: 0;
    margin: 0;
    font: inherit;
    display: inherit;
    width: 100%;
    border: none;
  }
}
