@import 'shared';

.Button {
  display: inline-block;
  background: none;
  outline: none;
  padding: px(15) px(24);
  border-radius: $default-border-radius;
  border: 2px solid currentColor;
  transition: background-color $default-transition-short, border-color $default-transition-short,
    color $default-transition-short;

  &.default {
    @include font-style(data-s);
    background-color: $brand-primary;
    color: $white;
    font-family: $roboto-font;
    border-color: $brand-primary;

    &:hover {
      border-color: $brand-primary;
      background-color: $white;
      color: $brand-primary;
    }
  }
}
