// Fonts
//
// Location of all the font-families and font-related css
//
// Best practices:
// 1. Avoid loading as many fonts as possible, e.x font styles, font families
// 2. Optimize the font, remove the characters set that the site won't use: languages
// 3. Include the unicode range in case you couldn't remove the characters. Included just Latin by default
// 4. Change fonts just changing the font-weight

@import 'vars';

$base-path: '../assets/fonts/' !default;

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('#{$base-path}RobotoMono/RobotoMono-Regular.eot');
  src: url('#{$base-path}RobotoMono/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}RobotoMono/RobotoMono-Regular.ttf') format('truetype'),
    url('#{$base-path}RobotoMono/RobotoMono-Regular.woff') format('woff'),
    url('#{$base-path}RobotoMono/RobotoMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$base-path}Poppins/Poppins-Medium.eot');
  src: url('#{$base-path}Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Poppins/Poppins-Medium.ttf') format('truetype'),
    url('#{$base-path}Poppins/Poppins-Medium.woff') format('woff'),
    url('#{$base-path}Poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$base-path}Poppins/Poppins-SemiBold.eot');
  src: url('#{$base-path}Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('#{$base-path}Poppins/Poppins-SemiBold.woff') format('woff'),
    url('#{$base-path}Poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$base-path}Poppins/Poppins-Regular.eot');
  src: url('#{$base-path}Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Poppins/Poppins-Regular.ttf') format('truetype'),
    url('#{$base-path}Poppins/Poppins-Regular.woff') format('woff'),
    url('#{$base-path}Poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
