/**
* Fonts
*
* Location of all the font-families and font-related css
*
* Best practices:
* 1. Avoid loading as many fonts as possible, e.x font styles, font families
* 2. Optimize the font, remove the characters set that the site won't use: languages
* 3. Include the unicode range in case you couldn't remove the characters. Included just Latin by default
* 4. Change fonts just changing the font-weight
**/

@import 'vars';

$base-path: '../assets/fonts/' !default;

@font-face {
  font-family: 'Nord';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('#{$base-path}Nord/Nord-Light.eot');
  src: url('#{$base-path}Nord/Nord-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Nord/Nord-Light.ttf') format('truetype'), url('#{$base-path}Nord/Nord-Light.woff') format('woff'),
    url('#{$base-path}Nord/Nord-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Nord';
  src: url('#{$base-path}Nord/Nord-LightItalic.eot');
  src: url('#{$base-path}Nord/Nord-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Nord/Nord-LightItalic.ttf') format('truetype'),
    url('#{$base-path}Nord/Nord-LightItalic.woff') format('woff'),
    url('#{$base-path}Nord/Nord-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
