/**
* Fonts
*
* Location of all the font-families and font-related css
*
* Best practices:
* 1. Avoid loading as many fonts as possible, e.x font styles, font families
* 2. Optimize the font, remove the characters set that the site won't use: languages
* 3. Include the unicode range in case you couldn't remove the characters. Included just Latin by default
* 4. Change fonts just changing the font-weight
**/

@import 'vars';

$base-path: '../assets/fonts/' !default;

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('#{$base-path}RobotoMono/RobotoMonoRegular.eot');
  src: url('#{$base-path}RobotoMono/RobotoMonoRegular.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}RobotoMono/RobotoMonoRegular.ttf') format('truetype'),
    url('#{$base-path}RobotoMono/RobotoMonoRegular.woff') format('woff'),
    url('#{$base-path}RobotoMono/RobotoMonoRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$base-path}Poppins/PoppinsMedium.eot');
  src: url('#{$base-path}Poppins/PoppinsMedium.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Poppins/PoppinsMedium.ttf') format('truetype'),
    url('#{$base-path}Poppins/PoppinsMedium.woff') format('woff'),
    url('#{$base-path}Poppins/PoppinsMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$base-path}Poppins/PoppinsSemiBold.eot');
  src: url('#{$base-path}Poppins/PoppinsSemiBold.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Poppins/PoppinsSemiBold.ttf') format('truetype'),
    url('#{$base-path}Poppins/PoppinsSemiBold.woff') format('woff'),
    url('#{$base-path}Poppins/PoppinsSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$base-path}Poppins/PoppinsRegular.eot');
  src: url('#{$base-path}Poppins/PoppinsRegular.eot?#iefix') format('embedded-opentype'),
    url('#{$base-path}Poppins/PoppinsRegular.ttf') format('truetype'),
    url('#{$base-path}Poppins/PoppinsRegular.woff') format('woff'),
    url('#{$base-path}Poppins/PoppinsRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
