/*
* Globals
*
* Global styling, normalize overwritten
*/
@import 'fonts';
@import 'polyfills';
@import 'shared';

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  font-size: 10px;
  font-family: $generic-fonts;
  text-align: left;
}

body {
  color: $black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: px(16);
  word-break: keep-all;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: $page-bg-color;
  z-index: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  @include z-index(pages);
}

html a {
  color: inherit;
  text-decoration: none;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}

button,
input,
a {
  &:focus:not(.focus-visible) {
    outline: none;
  }
}

button,
a {
  cursor: pointer;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

p,
li {
  @include font-style(paragraph);
}

input {
  border-radius: $default-border-radius;
  border: none;
  padding: px(12) px(16);
  color: $black;

  &:focus {
    outline: none;
    border: 1px solid $black;
  }
}
textarea {
  border-radius: $default-border-radius;
  border: none;
  color: $black;
  padding: px(12) px(16);
}
