@import 'shared';

.Layout {
  @include max-width-center();
  min-height: calc(100vh - #{$navbar-height-mobile});
  overflow: hidden;
  position: relative;
  padding-top: $navbar-height-mobile;

  @include breakpoint(desktopSm) {
    padding-top: $navbar-height-desktop;
  }
}
