@import 'shared';

.Layout {
  padding-top: $navbar-height-mobile;
  display: block;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  @include breakpoint(desktopSm) {
    padding-top: $navbar-height-desktop;
  }
}
