@import 'shared';

.Layout {
  @include max-width-center();
  min-height: calc(100vh - #{px(180)});
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-left: px(16);
  padding-right: px(16);
}
