@import 'shared';

.Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  height: 100%;
  flex-grow: 1;
  padding: px(50) 0 px(20);

  .text,
  .button,
  p {
    @include font-style(paragraph);
  }

  h6 {
    @include font-style(small-text);
  }

  .button {
    border: 1px solid $black;
    padding: px(12) px(24);
    margin-top: px(24);
    transition: background-color $default-transition-short, color $default-transition-short;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  .inviteLink {
    margin-top: auto;
  }

  .date {
    width: calc(100vw + #{px(15)});
    margin: px(50) 0;
  }
}
