@import 'shared';

.Header {
  @include z-index(nav);
  position: fixed;
  top: 0;
  width: 100vw;
  height: $navbar-height-mobile;
  box-shadow: $element-shadow;
  background-color: $white;
  display: flex;
  align-items: center;

  .nav {
    .menu {
      display: flex;
      flex-direction: row;

      .menuItem {
        padding: px(5) px(10);
      }
    }
  }

  /* Desktop */
  @include breakpoint(desktopSm) {
    height: $navbar-height-desktop;
  }
}
