@import 'shared';

.Header {
  @include z-index(nav);
  padding: px(30) 0;
  height: px(180);
  overflow-x: hidden;
  width: 100vw;
  position: relative;

  .logoWrapper {
    @include z-index(navelements);

    .logo {
      width: px(100);
      cursor: pointer;
    }
  }

  .nav {
    @include z-index(nav);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $white;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform $default-transition;
    display: flex;
    justify-content: center;

    .menu {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .menuItem {
        margin-bottom: px(48);

        .menuItemText {
          @include font-style(paragraph);
        }
      }
    }
  }

  .hamburgerButton {
    @include z-index(navelements);
    @include box(px(40));
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    padding: px(4);
    position: fixed;
    top: px(20);
    right: px(25);

    .bar {
      background-color: $black;
      height: px(2);
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: px(2);

      // Hamburger Icon
      &.one {
        transform-origin: left;
        transform: translateY(px(-4)) scaleX(1);
        width: px(35);
        transition: transform $default-transition-short 0.45s;
      }

      &.two {
        transform-origin: right;
        transform: translateY(px(4)) scaleX(1);
        width: px(35);
        transition: transform $default-transition-short 0.45s;
      }

      // Close X Icon
      &.three {
        transform: rotate(45deg) scaleX(0);
        transition: transform $default-transition-short;
        width: px(35);
      }

      &.four {
        transform: rotate(-45deg) scaleX(0);
        transition: transform $default-transition-short 0.15s;
        width: px(35);
      }
    }
  }

  &.navOpen {
    .nav {
      transform: translateX(0);
    }

    .hamburgerButton {
      .bar {
        // Hamburger Icon
        &.one {
          transform: translateY(px(-4)) scaleX(0);
          transition: transform $default-transition-short;
        }

        &.two {
          transform: translateY(px(4)) scaleX(0);
          transition: transform $default-transition-short;
        }

        // Close X Icon
        &.three {
          transform: rotate(45deg) scaleX(1);
          transition: transform $default-transition-short $default-transition-short;
        }

        &.four {
          transform: rotate(-45deg) scaleX(1);
          transition: transform $default-transition-short 0.45s;
        }
      }
    }
  }
}
