@import 'shared';

.Footer {
  .footerContainer {
    .footerBox {
      position: relative;
      width: 100%;
      display: grid;
      background-color: $blue;
      padding: px(25) px(40) px(45);
    }

    .stratosphereLogoWrapper {
      display: inline-block;
      justify-self: center;
      max-width: px(180);
      padding-bottom: px(25);

      .stratosphereLogo path,
      .stratosphereLogo circle {
        fill: $white;
        stroke: none;
      }

      .stratosphereLogo {
        width: 100%;
      }
    }

    .footerItemsList {
      display: flex;
      flex-direction: column;
      padding-bottom: px(20);
      text-align: center;
      color: tint($blue, $tint-percent-3);
      @include font-style(paragraph-xs);

      .listHeading {
        font-weight: 500;
        color: $white;
        @include font-style(paragraph-s);
      }

      .footerNoThemeButton {
        color: inherit;
      }
    }

    .getStartedButton {
      text-align: center;
      white-space: nowrap;
      margin: 0 auto auto;
    }

    .companyInfoBox {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      width: 100%;
      background-color: tint($blue, $tint-percent-3);

      .rightsReservedText,
      .legalTextContainer {
        padding: px(20) px(80) px(10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        color: $grey;
        @include font-style(paragraph-xxs);
      }

      .verticalLine {
        display: none;
      }

      .legalText {
        margin-top: px(10);
        display: block;
      }
    }
  }

  // DESKTOP
  @include breakpoint(desktopSm) {
    .footerContainer {
      .footerBox {
        padding: px(50) $default-padding-desktop px(80);
        grid-template-columns: 20% 1fr 1fr 1fr px(220);
        column-gap: px(60);
      }

      .stratosphereLogoWrapper {
        justify-self: unset;
        padding: 0;
      }

      .footerItemsList {
        padding: 0;
        text-align: left;

        .footerNoThemeButton {
          width: auto;
        }
      }

      .companyInfoBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 px(80) 0;

        .rightsReservedText,
        .legalTextContainer {
          flex-direction: row;
          align-items: center;
          text-align: unset;
          padding: unset;
        }

        .verticalLine,
        .legalText {
          margin-top: unset;
          display: unset;
          padding-left: px(10);
        }
      }
    }
  }
}
