@import 'shared';

.Accomodations {
  h1 {
    @include font-style(paragraph);
    margin-bottom: px(32);
  }

  p a {
    text-decoration: underline;
  }

  .list {
    margin-bottom: px(32);

    li {
      margin-bottom: px(20);
    }
  }
}
